{% load contact_tags i18n%}
<footer class="editContent">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 footer-grid_section_w3layouts">
                <h2 class="logo-2 mb-lg-4 mb-3">
                    <a href="/" class="editContent">
                                <span class="fa" aria-hidden="true">
                                    {% trans "Галерея современного искусства" %}
                                </span>
                    </a>
                </h2>
                <p class="editContent">
                    {% trans "М-галерея занимается экспонированием произведений современного искусства, видеоарт-проектами, издательской деятельностью, проведением семинаров по теории искусства, сотрудничает и осуществляет проекты с галереями Москвы, Санкт-Петербурга, регионов России и зарубежья." %}
                </p>
                <h4 class="sub-con-fo ad-info my-4 editContent">{% trans "Следите за нами в социальных сетях" %}</h4>
                <ul class="w3layouts_social_list media-soc list-unstyled">
                    <li>
                        <a href="#" class="w3pvt_facebook editContent">
                            <span class="fa fa-facebook-f"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_twitter editContent">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_dribble editContent">
                            <span class="fa fa-dribbble"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_google editContent">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 footer-right">
                <div class="w3layouts-news-letter">
                    <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">{% trans "Подписаться на расслыку" %}</h3>
                        {% contact_form %}
                </div>
                <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                    <div class="col-md-4 footer-grid_section_w3layouts">
                        <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">
                            {% trans "Разделы" %}</h3>
                        <ul class="list-unstyled w3layouts-icons">
                            <li>
                                <a href="/" class="editContent">{% trans "Главная" %}</a>
                            </li>
                            <li>
                                <a href="href="{% url 'event' %}" class="editContent">{% trans "Анонсы событий" %}</a>
                            </li>
                            <li>
                                <a href="/about" class="editContent"> {% trans "О нас" %} </a>
                            </li>
                            <li>
                                <a href="/contact" class="editContent">{% trans "Контакты сотрудников"  %} </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent">
                            {% trans "Контактная информация" %}</h3>
                        <div class="contact-info">
                            <div class="footer-address-inf my-4">
                                <h4 class="ad-info mb-2 editContent">Email </h4>
                                <p class="editContent"><a href="mailto:info@example.com">info@example.com</a>
                                </p>
                                <p class="editContent">{% trans "Ростов-на-Дону, ул. Тургеневская 5" %}</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7333ddc8256b59e5684e6aa8201919b9cc141194e2a9caff62fa04f0b7133eb4&amp;width=340&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left">© 2022 All rights reserved</p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-right col-md-2"><span
                    class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
            <!-- //move top icon -->
        </div>
    </div>
</div>