{% load artwork_tags i18n %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">{% trans "Поиск художественной работы" %}</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите название..." name="q"
               class="form-control" required="">
        <button type="submit" class="btn1 btn"><span class="fa fa-search"
                                       aria-hidden="true"></span></button>
    </form>
</div>
<!--preference -->
<form action="{% url "filter" %}" method="get">
    <div class="left-side my-4">

        <h3 class="sear-head editContent">{% trans "Жанры" %}</h3>

        <ul class="w3layouts-box-list">
            {% for category in view.get_category %}
                <li class="editContent">
                    <input type="checkbox" class="checked"  name="category" value="{{ category.id }}">
                    <span class="span editContent">{{ category.name }}</span>
                </li>
            {% endfor %}
        </ul>

    </div>
<!-- // preference -->
<!-- discounts -->

    <div class="left-side">
        <h3 class="sear-head editContent">{% trans "Год создания работы" %}</h3>
        <ul class="w3layouts-box-list">
            {% for artworks in view.get_years %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="year" value="{{ artworks.year }}">
                    <span class="span editContent">{{ artworks.year }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
<button type="submit">{% trans "Найти" %}</button>
<p></p>
</form>
<!-- //discounts -->
<!-- reviews -->


{% get_last_artwork count=2 %}