{% extends 'artworks/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
{% block title %} {{ artworks.name}} {% endblock title %}
{% block container %}
    <div class="container py-md-3">
{% endblock container %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block artwork %}
  <div class="left-ads-display col-lg-8">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-Заголовок">"{{ artworks.name}}" </h2>
          {% for artist in artworks.artist.all %}
             <a class="lead" href="{{ artist.get_absolute_url }}">{{ artist.get_full_name }}</a>
          {% endfor %}

        <h6>Описание</h6>
        <p class="lead">{{ artworks.description|safe }}</p>
{#        <h4>Категория: <span class="lead">{{ artworks.category  }}</span>         </h4>#}
{#        <h4>Техника:#}
{#            {% for category in artworks.category %}#}
{#                <span class="lead">{{ category }}</span>#}
{#                {% if artworks.category.all.count > 1 %}#}
{#                    <span>,</span>#}
{#                {% endif %}#}
{#            {% endfor %}#}
        </h4>
        <h6>Страна: <span class="lead">{{ artworks.country  }}</span></h6>
        <h6>Местонахождение работы: <span class="lead">{{ artworks.location  }}</span> </h6>
        <h6>Год создания работы: <span class="lead">{{ artworks.year  }}</span></h6>
        <h6>Стоимость: <i class="lead">{{ artworks.price }} &#8381;</i></h6>
        <div>
            <p class="lead" title="Как и где автор оставил свою подпись">Идентификация автора: {{ artworks.signature }}</p>
            <p class="lead" title="Проверка галереей или ссылка на NFT-маркетплейс">Подтверждение подлинности: {{ artworks.certificate_of_auth }}</p>
            <p class="lead">Размер работы: {{ artworks.size }} mm.</p>
            <p class="lead">Теги: {{ artworks.tags }}</p>
            <form action="{% url 'add_rating' %}" method="post" name="rating">
                <b>Рейтинг</b>
                {% csrf_token %}
                <input type="hidden" value="{{ artworks.id }}" name="artwork">
{#                {{ star_form }}#}
                <span class="rating">
                    {% for k, v in star_form.fields.star.choices %}
                        <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                        <label for="rating{{ v }}">{{ k }}</label>
                    {% endfor %}
                </span>
                <span class="editContent">4.0</span>
            </form>
        </div>

      </div>

      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ artworks.poster.url }}" class="card-img-top" alt="{{artworks.name}}">

      </div>

    </div>
    <div class="left-ads-display col-lg-12">
    {% include 'include/comment.html' %}
    </div>
{#     <script>#}
{#        function addReview(name, id) {#}
{#            document.getElementById("contactparent").value = id;#}
{#            document.getElementById("contactcomment").innerText = `${name}, `#}
{#        }#}
{##}
{#    </script>#}
{% endblock artwork %}





