{#{% for contact in page_obj %}#}
    {# Each "contact" is a Contact model object. #}
{#    {{ contact.full_name|upper }}<br>#}
{#    ...#}
{#{% endfor %}#}
{##}
{#<div class="pagination">#}
{#    <span class="pagination-sm">#}
{#        {% if page_obj.has_previous %}#}
{#            <a class=page-link href="?page=1">&laquo; first</a>#}
{#            <a class=page-link href="?page={{ page_obj.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="pagination">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a class=page-link href="?page={{ page_obj.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" >next</a>#}
{#            <a class=page-link href="?page={{ page_obj.paginator.num_pages }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

{% comment %}
<nav class="text-center">
        <div class="pager">
            {% if page_obj.has_previous %}
            <a  href="?page=1">&laquo; first</a>
            <a  href="?page={{ page_obj.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}
        </div>
        <div>
            <span >
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        </div>
        <div class="pager">
            {% if page_obj.has_next %}
            <a  href="?page={{ page_obj.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" >next</a>
            <a  href="?page={{ page_obj.paginator.num_pages }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
        {% endif %}</div>
</nav>
{% endcomment %}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    <li class="page-item ">
     {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
     {% else %}
        <a class="page-link disabled" href="?page=1">First</a>
    {% endif %}
    </li>

    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
    <li class="page-item">
    {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a></li>
    {% else %}
      <a  class="page-link" href="?page={{ page_obj.paginator.num_pages }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Last </a>
    {% endif %}
  </ul>
</nav>